<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Select your combo</h2>

    <%-data%>
    <br>
    <br>

    <%-data1%>
    <br>
    <br>

    <br>
    <br>

    <%-data3%>
    <br>
    <br>

    <%-data4%>
    <br>
    <br>

    <%-data5%>
    <br>
    <br>

    <%-data6%>
    <br>
    <br>

    <%-data7%>
    <br>
    <br>

    <%-data8%>
    <br>
    <br>

    <%-data9%>
</body>
</html>